---
import { menuIds } from '@constants/content/home';
import Image from '@components/Image.astro';
import aboutMeImage from '@assets/about/aboutMeImage.jpg';
import StrokeText from '@components/StrokeText.astro';
import AboutIcon from '@components/svg/AboutIcon.astro';
import { aboutContent } from '@constants/content/about';
import Title from '@components/Title.astro';

const { title1, title2, content } = aboutContent.en;
---

<section class="about-section" id={menuIds.option1}>
  <div class="container">
    <div
      class="grid lg:grid-cols-2 grid-cols-1 items-center xl:gap-20 lg:gap-8 gap-8"
    >
      <Image
        loading="lazy"
        src={aboutMeImage}
        width={500}
        height={500}
        alt="About me"
        class="rounded-3xl"
      />
      <div class="flex flex-col justify-center">
        <div class="flex flex-wrap items-center">
          <Title level="h2">
            <span class="color-blue">{title1}</span><StrokeText color={'blue'}
              >{title2}</StrokeText
            >
          </Title>
          <div class="md:ml-5 ml-4 md:w-20 w-12">
            <AboutIcon />
          </div>
        </div>
        <p class="mt-10 whitespace-pre-line">{content}</p>
      </div>
    </div>
  </div>
</section>
