---
import { projectsContent } from '@constants/content/projects';
import { menuIds } from '@constants/content/home';
import StrokeText from '@components/StrokeText.astro';
import CodingIcon from '@components/svg/CodingIcon.astro';
import Image from '@components/Image.astro';
import Button from '@components/Button.astro';

const { title1, title2, text, projects, seeMore } = projectsContent.en;
---

<section class="projects-section" id={menuIds.option3}>
  <div class="container">
    <div class="flex justify-between">
      <div>
        <div class="flex flex-wrap items-center mb-8">
          <h2 class="flex flex-wrap text-5xl">
            <span class="color-blue">{title1}</span><StrokeText color={'blue'}
              >{title2}</StrokeText
            >
          </h2>
          <div class="md:ml-6 ml-4 lg:w-20 w-12">
            <CodingIcon />
          </div>
        </div>
        <p>{text}</p>
      </div>
      <!-- <NormalImage
        src={ArrowImage}
        width={40}
        class="lg:block hidden animate-pulse"
      /> -->
    </div>

    <div class="flex flex-col mt-20">
      {
        projects.map(({ title, subtitle, description, url, img }) => (
          <div class="grid lg:items-center lg:grid-cols-2 grid-cols-1 lg:gap-10 gap-8 mb-10">
            <Image
              loading="lazy"
              src={img}
              alt={title}
              className="lg:block hidden"
              width={500}
              height={500}
            />
            <div class="project-info">
              <h3 class="color-blue">{title}</h3>
              <h5 class="color-white">{subtitle}</h5>
              <p>{description}</p>

              {url && (
                <Button href={url} color="blue" className="w-fit mt-5">
                  {seeMore}
                </Button>
              )}
            </div>
            <Image
              loading="lazy"
              src={img}
              alt={title}
              className="block lg:hidden"
              width={500}
              height={500}
            />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .project-container {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
</style>
