---
import { skillsContent } from '@constants/content/skills';
import { menuIds } from '@constants/content/home';
import StrokeText from '@components/StrokeText.astro';
import Title from '@components/Title.astro';

const { title1, title2, text, techSkills, softSkills, techTitle, softTitle } =
  skillsContent[Astro.currentLocale as 'en' | 'es'];
---

<section class="skills-section" id={menuIds.option4}>
  <div class="container">
    <div class="text-center flex flex-col items-center">
      <Title level="h2" class="two-line-title">
        <span class="color-blue">{title1}</span><br />
        <StrokeText color={'blue'}>{title2}</StrokeText>
      </Title>
      <p class="mt-10 lg:w-3/4">{text}</p>
    </div>

    <div class="mt-20">
      <Title level="h3" class="mb-8">{techTitle}</Title>
      <div class="grid lg:grid-cols-6 md:grid-cols-4 grid-cols-2 gap-4">
        {
          techSkills.map(({ title, description }) => (
            <div class="carousel-item">
              <div class="text-center">
                <span class="color-blue title">{title}</span>
                <p class="description">{description}</p>
              </div>
            </div>
          ))
        }
      </div>

      <Title level="h3" class="mb-8 mt-20">{softTitle}</Title>
      <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4">
        {
          softSkills.map(({ title, description }) => (
            <div class="carousel-item">
              <div class="text-center">
                <span class="color-blue title">{title}</span>
                <p class="description">{description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  .skills-section {
    padding-bottom: 5rem;
  }

  .carousel-item {
    border-radius: 25px;
    /* While using the normal grid
  width: 350px;
  height: 400px; */
    padding: 2rem;
    background-color: var(--color-secondary-dark-blue);
    box-shadow: 0px 3px 8px #00000066;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;

    img {
      margin: auto;
      height: 125px;
      margin-bottom: 25px;
    }

    .title {
      font-size: 1.5rem;
      display: block;
      /* margin-bottom: 25px; */
      margin-bottom: 10px;
      line-height: 1.75rem;
    }

    height: 100%;
  }

  .carousel-item:hover {
    transform: scale(1.02);
  }

  .carousel-item.active {
    background-color: var(--color-darkest-blue);
    width: 400px;
    height: 450px;
    padding: 2rem;
    z-index: 1500;
  }

  .carousel-item:not(.active) {
    z-index: 1000;
  }

  @media only screen and (max-width: 1023px) {
    .carousel-item {
      /* width: 250px;
    height: 300px; */
      padding: 1rem;

      img {
        height: 100px;
        margin-bottom: 15px;
      }

      .title {
        font-size: 1.25rem;
        display: block;
        /* margin-bottom: 15px; */
      }
    }

    .carousel-item.active {
      background-color: var(--color-darkest-blue);
      width: 300px;
      height: 350px;
      padding: 1rem;
    }
  }

  @media only screen and (max-width: 767px) {
    .carousel-item {
      /* width: 300px;
    height: 350px; */
      padding: 1rem;

      img {
        height: 100px;
        margin-bottom: 15px;
      }

      .title {
        font-size: 1.25rem;
        display: block;
        /* margin-bottom: 15px; */
      }
    }

    .carousel-item.active {
      background-color: var(--color-darkest-blue);
      width: 300px;
      height: 350px;
      padding: 1rem;
    }
  }
</style>
