---
import StrokeText from '@components/StrokeText.astro';
import { menuIds, homeContent } from '@constants/content/home';
import Button from '@components/Button.astro';
import MenuIcon from '@components/svg/MenuIcon.astro';
import ContactMenu from '@components/ContactMenu.astro';
import HeaderLink from './HeaderLink.astro';
import MobileHeaderLink from './MobileHeaderLink.astro';
import LanguageSelector from './LanguageSelector.astro';

const { menu, cv } = homeContent[Astro.currentLocale as 'en' | 'es'];
const lang = 'en';
---

<header
  class="bg-dark-blue shadow-header sticky top-0 left-0 right-0 flex items-center justify-between px-8 py-4 h-[6rem] z-[10000]"
>
  <div class="xl:text-4xl md:text-3xl text-2xl">
    <span>Luis</span><StrokeText color={'white'}>Farfán</StrokeText>
  </div>
  <div class="xl:block hidden">
    <ul class="flex list-none gap-4 m-0 p-0">
      <HeaderLink id={menuIds.option1} text={menu.option1} />
      <HeaderLink id={menuIds.option2} text={menu.option2} />
      <HeaderLink id={menuIds.option3} text={menu.option3} />
      <HeaderLink id={menuIds.option4} text={menu.option4} />
      <HeaderLink id={menuIds.option5} text={menu.option5} />
    </ul>
  </div>
  <div class="hidden items-center xl:flex">
    <Button
      href={`https://portfolio.luisefarfan.com/cv-${lang}.pdf`}
      color="blue"
      class="w-fit mr-5">{cv}</Button
    >

    <LanguageSelector />
  </div>
  <button
    class="xl:hidden cursor-pointer flex flex-col w-[3rem] h-[2rem] border-0 bg-transparent sm-menu-button"
  >
    <MenuIcon />
  </button>

  <!-- Mobile menu -->
  <div
    class="xl:hidden block overflow-y-auto max-h-[80vh] absolute top-full bg-dark-blue transition-all duration-300 p-8 shadow-header w-full -left-full opacity-0 [.open]:left-0 [.open]:opacity-100 sm-header-menu"
  >
    <ul class="mb-10 flex flex-col list-none gap-4">
      <MobileHeaderLink id={menuIds.option1} text={menu.option1} />
      <MobileHeaderLink id={menuIds.option2} text={menu.option2} />
      <MobileHeaderLink id={menuIds.option3} text={menu.option3} />
      <MobileHeaderLink id={menuIds.option4} text={menu.option4} />
      <MobileHeaderLink id={menuIds.option5} text={menu.option5} />
    </ul>
    <div class="flex flex-col gap-3 justify-around items-center mb-5">
      <Button
        href={`https://portfolio.luisefarfan.com/cv-${lang}.pdf`}
        color="blue"
        class="w-fit">{cv}</Button
      >

      <LanguageSelector />
    </div>
    <ContactMenu fromMobile />
  </div>
</header>

<script>
  const menuButton = document.querySelector(
    '.sm-menu-button'
  ) as HTMLButtonElement;
  const mobileMenu = document.querySelector(
    '.sm-header-menu'
  ) as HTMLDivElement;
  menuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('open');
  });
</script>

<script define:vars={{ menuIds }}>
  function updateActiveLinks() {
    let activeSection = window.location.hash.replace('#', '');

    if (!activeSection) {
      activeSection = menuIds.option1;
    }

    const links = document.querySelectorAll('li a');

    links.forEach((link) => {
      const linkId = link.getAttribute('href')?.replace('#', '');
      if (linkId === activeSection) {
        link.parentElement?.classList.add('active');
      } else {
        link.parentElement?.classList.remove('active');
      }
    });
  }

  // Update links when the page loads
  updateActiveLinks();

  // Update links when the hash changes
  window.addEventListener('hashchange', updateActiveLinks);
</script>
