---
interface Props {
  id: string;
  text: string;
  isMobile?: boolean;
}

const { id, text, isMobile = false } = Astro.props;
---

<li
  class:list={[
    'cursor-pointer border-b-dark-blue border-b-1 [.active]:text-blue [.active]:border-b-blue hover:text-blue hover:border-b-blue transition-all duration-200',
    {
      ' [.active]:scale-[1.02] hover:scale-[1.02] ': isMobile,
    },
  ]}
>
  <a class="inline-block w-full" href={`#${id}`}>{text}</a>
</li>

<script is:inline define:vars={{ id }} data-astro-rerun>
  const anchorTags = document.querySelectorAll(`a[href="#${id}"]`);

  anchorTags.forEach((anchorTag) => {
    anchorTag.addEventListener('click', (event) => {
      event.preventDefault();
      const targetSection = document.querySelector(`#${id}`);
      if (targetSection) {
        const customEvent = new CustomEvent('scrollToSection', {
          detail: { id },
        });
        history.pushState(null, '', `#${id}`);
        document.dispatchEvent(customEvent);
        targetSection.scrollIntoView({ behavior: 'smooth' });
      }
    });
  });
</script>
