---
import StrokeText from '@components/StrokeText.astro';
import { menuIds, homeContent } from '@constants/content/home';
import Button from '@components/Button.astro';
import MenuIcon from '@components/svg/MenuIcon.astro';
import ContactMenu from '@components/ContactMenu.astro';

const { menu, cv } = homeContent.en;
const activeSection = menuIds.option1;
const lang = 'en';
---

<header class="header">
  <div class="xl:text-4xl md:text-3xl text-2xl">
    <span>Luis</span><StrokeText color={'white'}>Farfán</StrokeText>
  </div>
  <div class="header-menu">
    <ul>
      <li class={activeSection === menuIds.option1 ? 'active' : ''}>
        <a href={`#${menuIds.option1}`}>{menu.option1}</a>
      </li>
      <li class={activeSection === menuIds.option2 ? 'active' : ''}>
        <a href={`#${menuIds.option2}`}>{menu.option2}</a>
      </li>
      <li class={activeSection === menuIds.option3 ? 'active' : ''}>
        <a href={`#${menuIds.option3}`}>{menu.option3}</a>
      </li>
      <li class={activeSection === menuIds.option4 ? 'active' : ''}>
        <a href={`#${menuIds.option4}`}>{menu.option4}</a>
      </li>
      <li class={activeSection === menuIds.option5 ? 'active' : ''}>
        <a href={`#${menuIds.option5}`}>{menu.option5}</a>
      </li>
    </ul>
  </div>
  <div class="lang-cv-container">
    <Button
      href={`https://portfolio.luisefarfan.com/cv-${lang}.pdf`}
      color="blue"
      class="w-fit mr-5">{cv}</Button
    >
  </div>
  <button class="sm-menu-button">
    <MenuIcon />
  </button>

  <!-- Mobile menu -->
  <div class="sm-header-menu">
    <ul class="mb-10">
      <li class={activeSection === menuIds.option1 ? 'active' : ''}>
        <a href={`#${menuIds.option1}`}>{menu.option1}</a>
      </li>
      <li class={activeSection === menuIds.option2 ? 'active' : ''}>
        <a href={`#${menuIds.option2}`}>{menu.option2}</a>
      </li>
      <li class={activeSection === menuIds.option3 ? 'active' : ''}>
        <a href={`#${menuIds.option3}`}>{menu.option3}</a>
      </li>
      <li class={activeSection === menuIds.option4 ? 'active' : ''}>
        <a href={`#${menuIds.option4}`}>{menu.option4}</a>
      </li>
      <li class={activeSection === menuIds.option5 ? 'active' : ''}>
        <a href={`#${menuIds.option5}`}>{menu.option5}</a>
      </li>
    </ul>
    <div class="flex flex-col justify-around items-center mb-5">
      <Button
        href={`https://portfolio.luisefarfan.com/cv-${lang}.pdf`}
        color="blue"
        class="w-fit mr-5">{cv}</Button
      >
      <!-- <LanguageSelector /> -->
    </div>
    <ContactMenu fromMobile />
  </div>
</header>

<style>
  .header {
    background-color: var(--dark-blue-color);
    box-shadow: 0px 3px 6px #00000059;
    position: sticky;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    z-index: 10000;
  }

  .header-menu {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        cursor: pointer;
        transition: all 0.2s ease-in;
        border-bottom: 1px solid var(--dark-blue-color);
      }

      li:not(:last-child) {
        margin-right: 1.5rem;
      }

      li.active {
        color: var(--blue-color);
        border-bottom: 1px solid var(--blue-color);
      }

      li:hover {
        color: var(--blue-color);
        border-bottom: 1px solid var(--blue-color);
      }
    }
  }

  .lang-cv-container {
    display: flex;
    align-items: center;
  }

  .sm-menu-button {
    display: none;
  }

  .sm-header-menu {
    display: none;
  }

  @media only screen and (max-width: 1279px) {
    .header-menu {
      display: none;
    }

    .lang-cv-container {
      display: none;
    }

    .sm-menu-button {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 3rem;
      height: 2rem;
      border: 0;
      background: transparent;
    }

    .sm-header-menu {
      overflow-y: auto;
      max-height: 80vh;
      display: block;
      position: absolute;
      top: 100%;
      background-color: var(--dark-blue-color);
      transition: opacity 0.3s;
      padding: 2rem;
      box-shadow: 0px 3px 6px #00000059;

      li {
        cursor: pointer;
        transition: all 0.2s ease-in;
        border-bottom: 2px solid var(--dark-blue-color);
      }

      li:not(:last-child) {
        margin-bottom: 1rem;
      }

      li:hover,
      li.active {
        transform: scale(1.02);
        color: var(--blue-color);
        border-bottom: 2px solid var(--blue-color);
      }
    }

    .sm-header-menu:not(.open) {
      left: -100%;
      opacity: 0;
    }

    .sm-header-menu.open {
      opacity: 1;
      left: 0;
      right: 0;
    }
  }
</style>

<script>
  const menuButton = document.querySelector(
    '.sm-menu-button'
  ) as HTMLButtonElement;
  const mobileMenu = document.querySelector(
    '.sm-header-menu'
  ) as HTMLDivElement;
  menuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('open');
  });
</script>
